@{
    Layout = null;
}

<html>
<head>
    <title>Neiron</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="content"></div>
    <div id="taskModalBoxContainer"></div>
    <div id="demoModalBoxContainer"></div>
    <div id="enlargingContainer"></div>
    <div id="speechContainer"></div>
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/Scripts/bundles/app.js")

    <script id="__bs_script__">
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
    </script>
</body>
</html>